#noscriptContent {
  display: none;
}

p {
  font-size: 18px;
}

.command {
  max-width: 400px;
  width: 100%;
  background: #000;
  outline: none;
  border: 0px solid #000;
  color: #fff;
  font-weight: bold;
}
