#noscriptContent {
  display: none;
}

p, span, input {
  font-size: 18px;
  font-family: monospace;
}

#prompt {
  max-width: 400px;
  width: 100%;
  background: #000;
  outline: none;
  border: 0px solid #000;
  color: #fff;
  font-weight: bold;
}

.help, .help * {
  font-size: 14px;
}
